
{% load staticfiles %}

<p>{{ total.car_pool.detail }}</p>
<p>
    {% if total.car_pool.type == '0' %}
        <span class="bule_font">人找车</span>
    {% elif total.car_pool.type == '1' %}
        <span class="bule_font">车找人</span>
    {% endif %}
<p>
    <span class="bule_font">出发地:</span><span>{{ total.car_pool.beginning }}</span>
</p>

<p class="">
    <span class="bule_font">目的地:</span><span>{{ total.car_pool.destination }}</span>
</p>

<p class="">
    <span class="bule_font">出发时间:</span><span>{{ total.car_pool.begin_time }}</span>
</p>

<p class="">
    <span class="bule_font">是否收费:</span><span>{{ total.car_pool.isfee }}</span>
</p>

{% if total.car_pool.type == '1'  %}
    <p class="">
        <span class="bule_font">空位:</span><span>{{ total.car_pool.seat }}</span>
    </p>
{% endif %}

<p class="">
    <span class="bule_font">联系人:</span><span>{{ total.car_pool.contact }}</span>
</p>

<p>联系我时，请说是在合肥微帮上看到的，谢谢</p>

<p class="bac_blue" ><a href="tel:{{ total.car_pool.tel }}">拨打电话</a></p>


<p class="">
    {% for im in img %}
        <img src="{% static im %}" class="l_img" alt="" />
    {% endfor %}
</p>


<p class=""><span>337浏览， </span><span>4分享， </span><span> {{ total.car_pool.created|date:'m-d' }}发布</span></p>
