{% load staticfiles %}
    <ul>
            <li >
                <a href="{% url 'home' %}" >
                    <p>
                        <i class="layui-icon layui-icon-home" ></i>
                    </p>
                    主页
                </a>
            </li>
            <li><a href="{% url 'busness:showbusness' %}"><p><i class="layui-icon layui-icon-templeate-1" ></i></p>  商圈</a></li>
            <li ><a href="{% url 'create' %}"><p><i class="layui-icon layui-icon-find-fill" ></i></p>  发布</a></li>
            <li style="color: #3D4256"><a href="{% url 'card:cardlist' %}" class="bule_font"><p><i class="layui-icon layui-icon-note" ></i></p>  名片</a></li>
            <li><a href="{% url 'wechat:myself' %} "><p><i class="layui-icon layui-icon-user" ></i></p>  我的</a></li>
        </ul>