{% load staticfiles %}

                    <li class="">



                        <div class="layui-container">

                                    <div class="pet_list_one_info">

                                        <img src="{{ data.total.old_item.user.userinfo.headimgurl }}" alt="">
                                     <span>{{ data.total.old_item.user.first_name }}</span>
                                     <span>置顶</span>



                                 <a href="/wechat/detail?id={{ data.total.id }}&img={{ data.total.old_item.user.userinfo.headimgurl }}&name={{ data.total.old_item.user.first_name }}&title={{ data.total.old_item.detail }}">详情 </a>


                                    </div>


                                    <div class=" l_content" >

                                        <div class="text lala" >
                                            <p class="c_text l_p" >

                                                    <span class="type bule_font">二手物品</span>






                                            </p>
                                            <p class="l_p">
                                                <span class="bule_font">商品:</span><span>{{ data.total.old_item.goods }}</span>
                                            </p>
                                            <p class="l_p">
                                                <span class="bule_font">价格:</span><span>{{ data.total.old_item.price }}</span>
                                            </p>
                                            <p class="l_p">
                                                <span class="bule_font">细节:</span><span >{{ data.total.old_item.detail }}</span>
                                            </p>
                                            <p class="l_p">
                                                <span class="bule_font">联系人:</span><span>{{ data.total.old_item.contact }}</span>
                                            </p>

                                            <p class="tel l_p" ><a href="tel:{{ data.total.old_item.tel }}">拨打电话</a></p>
                                        </div>
                                        <p onclick="text1(this)" style="margin: 0px;color:green;">全文</p>
                                        <script>
                                            function text1(the) {
                                                $(the).hide();
                                                $('.lala').removeClass()


                                            }
                                        </script>
                                        <p class="l_p">
                                            {% for img in data.img %}

                                                <img src="{{ img }}" class="l_img" alt="" />
                                            {% empty %}
                                            {% endfor %}</p>


                                        <p class="l_p l_bottom"><span>337浏览， </span><span>4分享， </span><span> {{ data.total.old_item.created|date:'m-d' }}发布</span></p>
                                        <div class="com_reply">
                                            {% include 'index_total/com_reply.html' %}
                                        </div>

                                    </div>
                        </div>
                    </li>
